body {
    background-color:  #397aac;
    color: #cccccc;
}

header {
    text-align: center;
    border: #687f91;
}

label {
    display: block;
    border: 20%;
    color: #cccccc;
}

table {
    margin: 2%;
}

td {
    padding: 1em;
    border: 6px outset aqua;
}

th {
    border-bottom-color: dodgerblue;
}

fieldset {
    padding: 0.5%;
    display: inline-block;
}

legend {
    margin: 1%;
}

