* {
    margin: 10%;
}

.content {
    width: 1024px;
    margin: 30px auto;
}

body {
    background: #fafafa;  
    color: #5f6970;
    width: 80%;
    margin: 0 auto;
}

header {
    border: #687f91;
    display: block;
    height: 100px;
}

#header-img {
    float: left;
    transform: scale(0.6);
    height: 100px;
    line-height: 100px;
}

h1 {
    display: block;
    margin: 0 auto;
}

nav {
    float: left;
}

label {
    display: block;
    border: 20%;
    color: #cccccc;
}

table {
    margin: 2%;
}

td {
    padding: 1em;
    border: 6px outset  #397aac;
}

th {
    border-bottom-color: dodgerblue;
}

fieldset {
    padding: 0.5%;
    display: inline-block;
}

legend {
    margin: 1%;
}

.sidebar {
    display: block;
}

card {
    display: block;
    margin: 0px auto;
}

.copy{
    display: block;
   width: 420px;
   margin: 10% auto;
}

img {
    margin: 0px auto;
    display: block;
    border: thick solid #397aac;
}

p{
    margin: 0px auto;
    display: block; 
    font-size: 20px; 
    text-align: center;
}

#title {
    font-size: 50px
}

section {
    margin: 0 auto;
}