.content {
    width: 1024px;
}

body {
    /* background-color:  #397aac; */
    /* background: url(img/Waterfront-720x313-2.jpg); */
    background: url(/img/cutter.jpeg);
    background-size: 150px;
    color: #cccccc;
}

header {
    text-align: center;
    border: #687f91;
    display: block;
}

h1 {
    display: inline-block;
}

nav {
    display: inline-block;
}

label {
    display: block;
    border: 20%;
    color: #cccccc;
}

table {
    margin: 2%;
}

td {
    padding: 1em;
    border: 6px outset aqua;
}

th {
    border-bottom-color: dodgerblue;
}

fieldset {
    padding: 0.5%;
    display: inline-block;
}

legend {
    margin: 1%;
}

.sidebar {
    float: right;
}

/* new css added for resubmit  */

/* .background {
    background: url(/img/cutter.jpeg);
    background-size: 150px;
} */

